<form id="contact-form" method="POST">
    <p id="thanks" style="display: none;">
        Thanks for contacting! I'll be in touch soon!
    </p>
    <div class="medium-12 columns">
        <input class="required" name="name" placeholder="name" type="text">
        <input class="required email" name="_reply " placeholder="email" type="text">
        <input class="required" name="subject" placeholder="subject" type="text">
        <textarea class="required" name="message" placeholder="message"></textarea>
        <input type="text" name="_gotcha" style="display:none" />
        <a id="submit" href="#">Submit</a>
    </div>
</form>