<div class="field-guide-content">
    <h1 class="title">
        Free Intro to Photo Field Guide
    </h1>
    <img class="field-guide-image" src="images/field-guide.jpg"></img>
    <br />
    <h3 style="margin-top: 0">Congratulations on starting your photographic journey!</h3>
    <div class="field-guide-text">
        <p>Use this guide to equip yourself with the knowledge you need to start shooting in manual mode. I highly recommend printing it out and going on a photo adventure, learning “in the field” each of the skills within this manual. It is a great big world out there, and there are so many things to photograph, so enjoy the journey! Now go and take some photos!</p>
    </div>
    <br />
    <div id="download-button" class="button full">
        <a
            download
            target="_blank"
            href="/assets/Intro to Photo Field Guide.pdf"
        >
            — Click Here to Download the Full Guide —
        </a>
    </div>
    <br />
    <div>
        <div>
            <div>
                <div id="donate-button" class="button" >
                    <a
                        id="embedded-checkout-modal-checkout-button"
                        target="_blank"
                        data-url="https://square.link/u/NUQoZXQS?src=embd"
                        href="https://square.link/u/NUQoZXQS?src=embed"
                    >
                        Support the Artist
                    </a>
                </div>
            </div>
        </div>
        
        <script>
        $('#download-button').click(() => {
            gtag('event', 'download_guide', {});
        })
        function showCheckoutWindow(e) {
            e.preventDefault();
    
            const url = document.getElementById('embedded-checkout-modal-checkout-button').getAttribute('data-url');
            const title = 'Square Online Checkout';
    
            // Some platforms embed in an iframe, so we want to top window to calculate sizes correctly
            const topWindow = window.top ? window.top : window;
    
            // Fixes dual-screen position                                Most browsers          Firefox
            const dualScreenLeft = topWindow.screenLeft !==  undefined ? topWindow.screenLeft : topWindow.screenX;
            const dualScreenTop = topWindow.screenTop !==  undefined   ? topWindow.screenTop  : topWindow.screenY;
    
            const width = topWindow.innerWidth ? topWindow.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            const height = topWindow.innerHeight ? topWindow.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
    
            const h = height * .75;
            const w = 500;
    
            const systemZoom = width / topWindow.screen.availWidth;
            const left = (width - w) / 2 / systemZoom + dualScreenLeft;
            const top = (height - h) / 2 / systemZoom + dualScreenTop;
            const newWindow = window.open(url, title, `scrollbars=yes, width=${w / systemZoom}, height=${h / systemZoom}, top=${top}, left=${left}`);
    
            if (window.focus) newWindow.focus();
        }
    
        // This overrides the default checkout button click handler to show the embed modal
        // instead of opening a new tab with the given link url
        document.getElementById('embedded-checkout-modal-checkout-button').addEventListener('click', function (e) {
            showCheckoutWindow(e);
        });
        </script>
    </div>
    <br />
</div>