<div class="profile mobile-hidden">
    <img id="logo" src="images/logo.svg" />
    <img id="logo-mobile" src="images/logo-mobile.svg" />
    <button id="menu-button" class="c-hamburger c-hamburger--htx">
    <span>toggle menu</span>
    </button>
    
    {% include categories.liquid %}

    <!-- <p class="clear"></p> -->
    <div id="nav" class="mobile-hidden">
        <h3><a data-cat="field-guide" class="big-link filter" href="#/field-guide">Photo Guide</a></h3>

        <br/>
        
        <div class="portfolio-link">
            <h3 class="big-link">Portfolio</h3>
            <div class="gallery-nav hidden">
                <ul>
                    {% for category in categories %}
                    <li id="menu-{{category | downcase}}" >
                        <a data-cat="{{category | downcase}}" class="filter" href="#/portfolio/{{category | downcase | split: '-' | last }}">{{category | split: '-' | last}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <br/>

        <h3><a href="https://michelleholiman.square.site/" class="big-link">Store</a></h3>

        <br/>
        
        <h3><a data-cat="about" class="big-link filter" href="#/about">About</a></h3>

        <br/>
        <!-- <h3><a data-cat="blog" class="big-link filter" href="/blog">Blog</a></h3> -->

        <div class="contact">
            <a id="contact-button" data-cat="contact" class="filter" href="#/contact">Contact</a> 
            <div class="social">
                {% if site.instagram %}
                <a type="button" href="https://www.instagram.com/{{ site.instagram }}">
                    <i class="fa fa-instagram"></i>
                </a>
                {% endif %}
                {% if site.facebook %}
                <a type="button" href="http://facebook.com/{{ site.facebook }}">
                    <i class="fa fa-facebook"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script>
$(document).ready(function() {
     $('.gallery-nav').hover(function() {
        $('.gallery-nav').removeClass('hidden');
        $('.portfolio-link').addClass('open');
     }, undefined);

     $('.profile').hover(undefined, function() {
        $('.gallery-nav').addClass('hidden');
        $('.portfolio-link').removeClass('open');
     });
});
</script>